{% extends "base.html" %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<h4>
    <strong>
        OtpBasedLogin
    </strong>
</h4>
<hr>
<form method=post>
    <dl>
      {{ render_field(form.phone_number, class="form-control") }}
    </dl>
    <p><input type=submit value=Login>
</form>

<hr>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock body %}
